@media screen and (max-width: 640px) {
	header {
		background-color: #ffffff;
		height: 78px;
		border-bottom: solid 1.5px #cccccc;
	}

	#header-container {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	#name {
		display: block;
		width: 100%;
		background-color: #4aaaa5;
		color: white;
		margin: 0 auto;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 14.5px 0;
		font-family: 'Georgia', Times, Times New Roman, serif;
	}

	nav {
		clear: both;
		width: 100%;
		margin: 0 auto;
		font-size: 10px;
		color: #777777;
		margin-right: 0px;
		padding-top: 12.5px;
		padding-bottom: 12.5px;
	}

	#about-link {
		display: block;
		float: left;
		width: 33%;
		text-align: center;
		border-right: 1px solid #cccccc;
		padding: 0;
	}

	#portfolio-link {
		float: left;
		display: block;
		width: 33%;
		text-align: center;
		border-right: 1px solid #cccccc;
		padding: 0;
	}

	#contact-link {
		display: block;
		text-align: center;
		float: left;
		width: 33%;
		padding: 0;
	}

	/* main content container */
	#container {
		width: 100%;
		margin: 0 auto;
		margin-top: 10px;
	}

	section {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		padding: 0;
		padding-bottom: 15px;
	}

	#section-header {
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 15px;
		padding-left: 15px;
	}

	#section-container {
		width: auto;
		border-top: 1.5px solid #dddddd;
		margin: 0 15px;
		padding: 0;
		padding-top: 20px;
	}

	#mike-mic {
		float: left;
		width: 100%;
		height: auto;
		margin-right: 20px;
	}

	.text {
		clear: both;
		padding-top: 15px;
		font-size: 10px;
		line-height: 200%;
	}

	label {
		font-size: 14px;
		padding: 0;
	}

	input[type=text] {
		width: 100%;
		height: 30px;
		padding: 5px 5px;
		margin-top: 5px;
		margin-bottom: 16px;
		box-sizing: border-box;
		border: 1px solid #dddddd;
	}

	input[type=submit] {
		width: 120px;
		height: 40px;
		background-color: #4aaaa5;
		color: white;
		border: none;
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 16px;
	}

	input[type=submit]:hover {
		background-color: #367c79;
	}

	input[type=text]:hover {
		border: 1px solid #4aaaa5;
	}

	#form-message {
		width: 100%;
		height: 200px;
		padding: 5px 5px;
		margin-top: 5px;
		margin-bottom: 10px;
		box-sizing: border-box;
		border: 1px solid #dddddd;
		resize: vertical;
	}

	#form-message:hover {
		border: 1px solid #4aaaa5;
	}

	aside {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		padding: 0;
		padding-bottom: 15px;
}

	#aside-header {
		display: block;
		width: auto;
		font-size: 12px;
		font-weight: bold;
		padding-top: 15px;
		padding-left: 15px;
		padding-bottom: 10px;
	}

	#aside-container {
		width: 100%;
		border-top: 1px solid #dddddd;
		margin: 0 15px;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	#git {
		float: left;
		width: 35px;
		padding-right: 5px;
	}

	#li {
		float: left;
		width: 35px;
		padding-right: 5px;
	}

	#strava {
		float: left;
		width: 35px;
	}

	footer {
		height: 25px;
		padding-top: 20px;
		background-color: #666666;
		color: #dddddd;
		text-align: center;
		font-size: 6px;
		border-top: solid 5px #4aaaa5;
	}

}