@media screen and (max-width: 768px) {
	header {
		background-color: #ffffff;
		height: 60px;
		border-bottom: solid 2px #cccccc;
	}

	#header-container {
		width: 600px;
		margin: 0 auto;
		font-size: 12px;
	}

	#name {
		float: left;
		background-color: #4aaaa5;
		color: white;
		margin-top: 0px;
		margin-left: 0px;
		font-size: 24px;
		font-weight: bold;
		padding: 18px 20px;
		font-family: 'Georgia', Times, Times New Roman, serif;
	}

	nav {
		float: right;
		font-size: 14px;
		color: #777777;
		margin-right: 0px;
		padding-top: 22px;
		padding-bottom: 20px;
	}

	#about-link {
		border-right: 1px solid #cccccc;
		padding-right: 10px;
	}

	#portfolio-link {
		border-right: 1px solid #cccccc;
		padding-left: 10px;
		padding-right: 10px;
	}

	#contact-link {
		padding-left: 10px;
	}

	#container {
		width: 600px;
		margin: 0 auto;
		margin-top: 30px;
	}

	#section-header {
		font-size: 24px;
		padding-top: 25px;
		padding-bottom: 20px;
		padding-left: 20px;
	}

	section {
		width: 600px;
		margin-right: 0px;
		margin-bottom: 25px;
		padding-bottom: 25px;
	}

	#section-container {
		width: 560px;
		border-top: 2px solid #dddddd;
		margin: 0 20px;
		padding-top: 20px;
	}

	#mike-mic {
		float: left;
		width: 280px;
		margin-right: 20px;
	}

	.text {
		float: inherit;
		margin-top: 0;
		line-height: 200%;
	}

	/* Portfolio selectors */

	.image-container {
		float: left;
		width: 265px;
	}

	.portfolio-image {
		width: 265px;
	}

	.box {
		position: relative;
		width: 265px;
		height: 30px;
		margin: 0;
		padding: 0;
		padding-top: 15px;
		background-color: #4aaaa5;
		text-align: center;
		color: white;
		font-size: 18px;
		font-family: 'Georgia', Times, Times New Roman, serif;
	}

	#honu {
		float: left;
		margin: 0;
		margin-right: 30px;
	}

	#honu div {
		top: -55px;
	}

	#napa {
		float: left;
		margin: 0;
	}

	#napa div {
		top: -55px;
	}

	#az {
		float: left;
		margin: 0;
		margin-right: 30px;
	}

	#az div {
		top: -55px;
	}

	#lyon {
		float: left;
		margin: 0;
	}

	#lyon div {
		top: -55px;
	}

	#usa {
		float: left;
		margin: 0;
	}

	#usa div {
		top: -55px;
	}
	
	/* Contact form selectors */

	label {
		font-size: 16px;
	}

	input[type=text] {
		width: 100%;
		height: 30px;
		padding: 5px 5px;
		margin-top: 8px;
		margin-bottom: 16px;
		box-sizing: border-box;
		border: 1px solid #dddddd;
	}

	input[type=text]:hover {
		border: 1px solid #4aaaa5;
	}

	#form-message {
		width: 100%;
		height: 200px;
		padding: 5px 5px;
		margin-top: 8px;
		margin-bottom: 10px;
		box-sizing: border-box;
		border: 1px solid #dddddd;
		resize: vertical;
	}

	#form-message:hover {
		border: 1px solid #4aaaa5;
	}

	input[type=submit] {
		width: 120px;
		height: 40px;
		background-color: #4aaaa5;
		color: white;
		border: none;
		margin-top: 5px;
		font-size: 16px;
	}

	input[type=submit]:hover {
		background-color: #367c79;
	}

	aside {
		clear: both;
		width: 600px;
		margin-left: 0;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}

	#aside-header {
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
	}

	#aside-container {
		width: 560px;
		border-top: 1.5px solid #dddddd;
		margin: 0 20px;
		padding-top: 20px;
		padding-bottom: 0px;
	}

	#git {
		float: left;
		width: 50px;
		padding-right: 10px;
	}

	#li {
		float: left;
		width: 50px;
		padding-right: 10px;
	}

	#strava {
		float: left;
		width: 50px;
	}

	footer {
		clear: both;
		height: 30px;
		padding-top: 30px;
		background-color: #666666;
		color: #dddddd;
		text-align: center;
		font-size: 10px;
		border-top: solid 5px #4aaaa5;
	}
}